{% extends 'base.html.twig' %}

{% block body %}
<main class="container">
    <div class="jumbotron">
                <h2 class="h1">Booking</h2>
                    <p>Appartement, maison, seul ou en famille, pour quelques jours ou pour plusieurs années :
                        trouvez le logement qui vous ressemble parmi des centaines d'annonces immobilières..</p>
                        <br>
                    <p>En utilisant votre espace de recherche MyBooking, vous optimisez votre recherche immobilière :  
            - Vous enregistrez votre dossier locataire pour déposer directement en ligne vos demandes de location
            - Vous enregistrez et retrouvez vos biens favoris en quelques clics
            - Vous créez vos alertes personnalisées pour être prévenu par email quand de nouveaux biens sont disponibles.</p>
        
    </div>
    <div class="card-body">
                        <a href="#" class="btn btn-primary">+ d'infos</a>
    </div>
    <h3 class="h1 mt-3 mb-4">Annonces les mieux notées </h3>
                        <section class="row">

                                {% for  data in ads %}

                                {% include 'ad/_ad.html.twig' with {'ad':data.annonce} %}

                                {% endfor %}
                                
                        </section>

    <h3 class="h1 mt-5 mb-4">Nos meilleurs annonceurs </h3>
                        <section class="row">


                                {% for data in users %}
                                <article class="col">
                                    <div class="card mb-3">
                                        <h3 class="h4 card-header text-white bg-dark">{{data.user.fullName}}</h3>
                                        <div class="card-body">
                                        <img src="{{data.user.avatar}}" alt="avatar de{{data.user.fullName}}" class="float-left mr-3">
                                        <p><span>{{data.user.introduction}}</span></p>
                                                    <a href="{{path('user_show',{'slug':data.user.slug})}}" class="btn btn-dark">+ d'infos</a>           
                                        </div>
                                                                    
                                 </div>
                                                


                                </article>
                            {% endfor %}
                        </section>
</main>

{% endblock %}



