{% extends 'base.html.twig' %}

{% block title %} {{ad.title}} {% endblock %}
{% block body %}
         
           <div class="prod-title" style="background-image:url({{ad.coverImage}})">
           
                 <div class="container">
               
                    <h1>{{ad.title}}</h1>
                <p>{{ad.introduction}}</p>
                <p class="h5">{{ad.rooms}} chambres pour <strong> {{ad.price}} &euro;/nuit </strong></p>
                <a href="#" class="btn btn-success">Reserver !</a>
                
                </div>
            </div>
         <div class="container">
                <div class="row">
                    <div class="col-md-8 mt-3">
                        {{ad.content|raw}}
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                      {% for image in ad.images %}
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{loop.index0}}" class=" {% if loop.first %}active{% endif %}">" aria-current="true" aria-label="Slide 1"></button>
                                   
                                     {% endfor %}
                                </div>
                                <div class="carousel-inner">
                                    {% for image in ad.images %}

                                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                                     <img src="{{image.url}}" class="d-block w-100" alt="...">
                                     <div class="carousel-caption d-none d-md-block">
                                        <h5>  {{ad.title}}</h5>
                                        <p>{{image.caption}}</p>
                                    </div>
                                    </div>
                                   {% endfor %}
                                </div>

                               
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Precedent</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Suivant</span>
                                </button>
                    </div>


                    </div>
                    <div class="col">

                    {% set a = ad.author %}

                        <div class="row">
                            <div class="col-4 mt-3">
                                
                                <a href="{{path('user_show',{'slug':a.slug})}}">

                                      <img src="{{a.avatar}}" alt="{{a.fullname}}" class="avatar avatar-medium mb-3">
                                </a>

                            </div>
                            <div class="col mt-3">
                               
                               <a href="{{path('user_show',{'slug':a.slug})}}">
                               
                                       <h3>{{a.fullname}}</h3>
                                </a>
                                                               
                                 <button type="button" class="btn btn-info">
                                <span class="badge badge-warning">{{a.ads| length}} {% if a.ads| length >1 %} annonces {% else %} annonce {% endif %}</span>
                                </button>
                            </div>

                        </div>
                        <div class="col py-3">
                        {{a.introduction | raw}}
                            
                        </div>
                    </div>
                </div>

            </div>

{% endblock %}